.bean {
    border: 6px solid #2c2c2c;
    position: relative;
    border-radius: 30px;
    color: white;
    padding: 64px 16px 16px 16px;
    font-family: 'Josefin Sans', sans-serif;
    p {
        margin-bottom: 16px;
    }
    &__img {
        max-width: 200px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    &__title {
        font-family: 'Rubik Doodle Shadow', system-ui;
        font-size: 40px;
        text-align: center;
        margin-bottom: 24px;
    }
    &__description {
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 16px;
    }
    &__characteristics {
        display: flex;
        justify-content: space-between;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
    &__tag {
        border: 1px solid white;
        padding: 4px 8px;
        border-radius: 20px;
        text-align: center;
    }
}

.beans {
    display: flex;
    flex-direction: column;
    padding: 82px 32px;
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, auto));
        column-gap: 24px;
        row-gap: 72px;
    }
    &__filter {
        margin-bottom: 72px;
        height: 40px;
        border-radius: 12px;
        padding-inline: 16px;
        font-size: 22px;
        border: 6px solid #2c2c2c;
        font-family: 'Josefin Sans', sans-serif;
    }
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.side {
    width:20%;
    min-height: 100vh;
    padding: 42px 16px;
    background-color: #d31875;
    display: flex;
    flex-direction: column;
}